services:
  nextjs-react-compiler-tailwind:
    container_name: nextjs-react-compiler-tailwind-container
    build:
      context: .
      dockerfile: Dockerfile

    ports:
      - "3000:3000"
    volumes:
      - .:/app
      - /app/node_modules
      - /app/.next
    environment:
      - CHOKIDAR_USEPOLLING=true
      - WATCHPACK_POLLING=true
      - NEXT_WATCHPACK_POLLING=true
      - NODE_ENV=development
    restart: unless-stopped
    # Required for hot reload to work
    tty: true
    stdin_open: true
